$clear: rgba(0, 0, 0, 0);

$white: #ffffff;

//gray

$alto: #e0e0e0;
$tundora: #424242;
$silver-chalice: #9e9e9e;
$silver: #bdbdbd;
$mine-shaft: #212121;

//blue

$astronaut: #000a8b;


//orange 

$outrageous-orange: #ff671b;
$tia-maria: #db4914;
$flamingo: #f05028;


$portrait: 980px;

 