
.home-content {
	h1 {
		color: #4a4a4a;
	}
}
.home-text {
    padding-left: 5px;
    padding-right: 5px;
}

.block-home-engineering {
    max-width: 1020px;
    margin: 0 auto 70px;
    padding-top: 15px;

    ._inner-item {
        padding-right: 3px;
        ._thumb {
            margin-bottom: 45px;
            img {
                height: 142px;
                width: 142px;
            }
        }
        ._title {
            margin-bottom: 36px;
            color: #4a4a4a;
        }
        ._entry {
            margin-bottom: 20px;
        }
        +._inner-item {
            padding-right: 0;
        }
    }
}

.bottom-block {
    background: url(../img/bg-bottom.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    .container {
        position: relative;
        z-index: 2;
        color: #fff;
        height: 100%;
        .row {
            height: 100%;
            width: 100%;
            margin: auto;
        }
        ._inner-bottom-block {
            margin: auto;
        }
        .h1 {
            color: inherit;
        }
        .btn-wrap {
            margin-bottom: 50px;
        }
        ._bottom-contact {
            font-size: 18px;
            line-height: 28px;
        }
        a {
            color: inherit;
        }
    }
}

.arrows-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 1450px;
}

.slider-clients {
    width: 100%;
    max-width: 100%;
    .slide-item {
        .cl-logo {
            float: left;
            // margin: 63px 60px;
            margin: 105px 60px 0;
            position: absolute;
        }
        .container {
            position: relative;
            height: 100%;
            &:after,
            &:before {
                display: none;
            }
        }
        ._slide-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translate(0, -50%);
        }
        .h1 {
            color: #fff;
            margin: 25px 0;
            font-size: 72px;
            text-transform: uppercase;
            // font-family: 'Conv_8291';
        }
        .slde-bottom-wrap {
            position: absolute;
            top: 100%;
            color: inherit;
            width: 100%;
            margin-top: 25px;
        }
        ._descr {
            max-width: 940px;
            margin: 0 auto;
            font-size: 18px;
            color: #fff;
        }
        ._more {
            position: absolute;
            bottom: 17%;
            width: 100%;
        }
    }
    .bg-slide {
        position: absolute;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .slick-dots {
        position: absolute;
        bottom: 6%;
        left: 0;
        width: 100%;
        .slick-active {
            button {
                background-color: #fff;
            }
        }
    }
}

.bg-mask {
    position: absolute;
    background: rgba(0, 10, 139, 0.85);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}


/**
* testimonials-slider
*/

.block-testimonials-home {
    padding-top: 80px;
    .title-block {
        font-size: 36px;
        margin: 0 0 2em;
    }
    .block-testimonials-container {
        position: relative;
        .slick-arrow {
            top: 50%;
            z-index: 5;
        }
        .item-testimnial {
            padding-left: 15px;
            padding-right: 15px;
            ._photo {
                margin-bottom: 55px;
                img {
                    margin: 0 auto;
                }
            }
            ._name {
                font-size: 32px;
                margin-bottom: 10px;
                line-height: 39px;
                color: #4a4a4a;
                font-weight: 400;
            }
            ._post-human {
                font-size: 24px;
                color: #8b8b8b;
                text-transform: uppercase;
                margin-bottom: 40px;
                line-height: 29px;
                font-weight: 300;
            }
            ._entry {
                margin-bottom: 50px;
                color: #6f6f6f;
            }
        }
    }
}

.testimonials-slider {
    max-width: 1020px;
    margin: 0 auto 20px;
    position: relative;
}

.icon-soc {
    display: inline-block;
    height: 22px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    svg {
        height: 22px;
    }
    &.ic-fb {
        background-image: url(../img/svg/ic-fb.svg);
    }
    &.ic-in {
        background-image: url(../img/svg/ic-in.svg);
    }
    &.ic-twit {
        background-image: url(../img/svg/ic-twit.svg);
    }
}

.block-insights-home {
    padding: 80px 0 35px;
    .title-block {
        margin-bottom: 50px;
    }
    .insights-container {
        position: relative;
        .slick-arrow {
            top: 90px;
        }
    }
}

.slider-insights {
    max-width: 918px;
    margin: 0 auto;
    ._item-post {
        ._inner {
            padding: 0 15px;
        }
        figure {
            margin-bottom: 50px;
        }
        ._title {
            margin-bottom: 10px;
            font-weight: 300;
            color: #4a4a4a;
            a {
                color: inherit;
                font: inherit;
                &:hover {
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
        ._date {
            color: #8b8b8b;
            margin-bottom: 32px;
            font-weight: 300;
        }
    }
}

.dots-yellow {
    .slick-dots {
        margin-top: 50px;
        li {
            button {
                border-color: $yellow;
            }
            &.slick-active {
                button {
                    background: $yellow;
                }
            }
        }
    }
}
.content-bg {
	background: #fafafa;
	padding-top: 68px;
	padding-bottom: 80px;
}
/**********  clients-list *********/
.clients-list {
	padding-top: 60px;
	._item-client {
		margin-bottom: 40px;
	}
	.client-inner {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    height: 100%;
		._logo {
			height: 133px;
			display: flex;
			align-items: center;
			svg {

				* {
				fill: #4a4a4a !important;
				}
				path {
					fill: #4a4a4a !important;
				}
			}
		}
		._descr {
			flex: 2;
			font-size: 12px;
			margin-bottom: 1.5em;
			line-height: 2.5;
		}
		._more {
			font-size: 12px;
			line-height: 2.5;
		}
	}
}
._item-club {
	margin-bottom: 50px;
	._descr {
		margin-bottom: 30px;
	}
}
.container-values {
	padding-top: 60px;
	margin-bottom: 50px;
	.block-values {
		padding-top: 28px;
	}
	.item-values {
		margin-bottom: 26px;
		.values-media {
			height: 105px;
			width: 105px;
		}
		.media-body {
			padding-top: 7px;
			padding-left: 10px;
		}
		.media-heading {
			margin-bottom: 25px;
		}
	}
}
.team-block {
	position: relative;
}
.team-nav-wrap {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
	height: 100vh;
}
.team-nav-inner {
	background: rgba(255, 103, 27, 0.8);
	color: #fff;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	padding: 60px 40px 60px 80px;
	.h4 {
		color: inherit;
		margin-bottom: 20px;
		text-align: center;
	}
}
.team-nav-slider {	
	// width: 200px;
	max-height: 90%;
	color: #fff;
	// height: 300px;
	.nav-team-item {
		line-height: 20px;
		margin-bottom: 20px;
	}
	a {
		color: inherit;
		display: block;
		opacity: .6;
		> span {
			display: block;
			white-space: nowrap;
		}
		&:before {
			content: "";
			width: 6px;
			height: 6px;
			// opacity: 0.6;
			border: solid 1px #ffffff;
			display: block;
			float: left;
			margin-left: -26px;
			margin-top: 9px;
			border-radius: 50%;
			text-decoration: none;
		}
		&.active, &:hover {
			text-decoration: none;
			opacity: 1;
			&:before {
				background: #fff;
			}
		}
	}
}
.team-slider-full {
	width: 100%;
	// height: 600px;
}
.team-list {
	position: relative;
	.row-team {
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		// height: 600px;
		&:after {
			content: "";
			background: #000a8b;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			opacity: .55;
			display: block;
		}
		> .container {
			position: relative;
			z-index: 2;
			color: #fff;
			margin: auto;
		}
		._name {
			color: inherit;
			margin-bottom: 10px;
		}
		._team-post {
			font-size: 20px;
			margin-bottom: 60px;
		}
		._descr {
			margin-bottom: 20%;
		}
		.social-buttons {
			a {
				display: inline-block;
				height: 20px;
				svg {
					max-height: 100%;
				}
				i {
					display: none;
				}
			}
		}
	}
}
.hide-pc {
	display: none;
}
.partnership-wrap {
	padding: 66px 0 0px;
	.title-block {
		margin-bottom: 27px;
	}
	.ps-item {
		margin-bottom: 20px;
		._inner {
			figure {
				height: 133px;
				img {
					margin: auto 0px;
				}
			}
		}
		._text {
			font-size: 12px;
			line-height: 2.5;
			margin-bottom: 1em;
		}
		a {
			font-size: 12px;
		}
	}
}

.gallery-container {
	margin-bottom: 80px;
}
.gallery-list {
	margin-left: -27px;
	margin-right: -27px;
	padding-top: 60px;
	padding-bottom: 60px;
	div._item-gall {
		position: relative;
		overflow: hidden;
		max-width: 816px;
		img {
			display: block;
		}
		.gall-caption {
			position: absolute;
			background: rgba(255, 103, 27, 0.72);
			color: #fff;
			left: 0;
			right: 0;
			bottom: -100%;
			padding: 28px 25px;
			color: rgba(255,255,255,.8);
			transition: bottom .5s linear;
			._title {
				margin-bottom: 15px;
				color: inherit;
			}
			._descr {
				font-size: 14px;
				line-height: 2;
				color: inherit;
			}
		}
		&:hover {
			.gall-caption {
				bottom: 0;
			}
		}
		
	}
	> div:nth-child(n+7) {
			display: none;
	}
}
.hiring-container {
	background: url(../img/bg-hiring.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	margin-bottom: 60px;
	&:after {
		content: "";
		display: block;
		background: $blue;
		opacity: .85;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}
	.hiring-block {
		position: relative;
		margin: auto;
		color: #fff;
		z-index: 2;
		.title-block {
			color: inherit;

		}
		.hiring-list {
			ul {
				margin-bottom: 9vh;
				li {
					list-style: none;
					font-size: 18px;
					line-height: 2;
					&:before {
						display: none;
					}
					a {
						color: inherit;
						&:hover {
							color: $yellow;
							text-decoration: none;
						}
					}
				}
			}
		}
		
	}
}
.bottom-text-container {
	margin-bottom: 40px;
}
.hiring-container {}
.vacancy-item {
	color: #fff;
	font-size: 14px;
	line-height: 2;
	display: none;
	font-weight: 300;
	+ .vacancy-item {
		// display: none;
	}
	.vacancy-title {
		color: inherit;
	}
	h2 {
		color: inherit;
		font-size: 48px;
		opacity: .8;
		font-weight: 300;
	}
	h3 {
		color: $yellow;
		font-weight: 300;
	}
	ul {
		li {}
	}
	.vacancy-button-row {
		text-align: center;
		margin-bottom: 60px;
	}
	.vacancy-button-text {
		margin-bottom: 60px;
	}
}
.popup {
	display: none;
}
.btn-close {
	position: absolute;
	right: -25px;
	top: -25px;
	cursor: pointer;
	opacity: 1;
	&:hover {
		opacity: 1;
	}
}
.vacancy-form-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 582px;
	max-width: 100%;
	padding: 80px 72px;
	z-index: 99;
	max-height: 100%;
	.close-btn {
		position: absolute;
		right: -25px;
		top: -25px;
		cursor: pointer;
	}
	textarea {
		height: 190px;
		resize: none;
	}
}
.hdr-item {

	.hdr-photo {
		margin-bottom: 63px;
	}
	.hdr-name {
		color: #4a4a4a;
	}
	.hdr-post {
		font-size: 18px;
		color: #8b8b8b;
		margin-bottom: 25px;
		font-weight: 300;
	}
	.hdr-descr {
		color: #6f6f6f;
		margin-bottom: 30px;
		line-height: 2.715;
	}
	.hdr-contacts {
		line-height: 2.715;
		// margin-bottom: 54px;
		margin-bottom: 20px;
	}
}
.vacancy-items-popup {
	position: absolute;
	width: 90%;
	// height: 90%;
	left: 5%;
	top: 110px;
	bottom: 110px;
	display: none;
	z-index: 9;
	.close-btn {
		position: absolute;
		right: -5px;
		top: -55px;
		cursor: pointer;
	}
	.vacancy-inner {
		position: relative;
		height: 100%;
		// width: 90%;
		.vacancy-content {
			margin-bottom: 60px;
		}
	}
}
.social-buttons {
	a {
		&:hover {
			svg {
				* {
					fill: $yellow !important;
				}
			}
		}
	}
}
.events-list {
	position: relative;
	.slick-arrow {
			top: 50%;
			margin-top: -30px;
			&.slick-prev {
				left: -60px;
			}
			&.slick-next {
				right: -60px;
			}
		}
}
.events-container {
	.h1 {
		margin-bottom: 80px;
	}
	._item-event {
		.event-inner {
			padding: 0 12px;
		}
		figure {
			margin-bottom: 49px;
		}
		._name {
			margin-bottom: 10px;
			line-height: 35px;
		}
		._date {
			color: #8b8b8b;
			font-size: 18px;
			margin-bottom: 23px;
			font-weight: 300;
		}
		._descr {
			margin-bottom: 16px;
			line-height: 2.75;
		}
		._more {
			padding: 10px 0;
			margin-bottom: 50px;
		}
	}
	.events-slider {
		
	}
}
.vector-container {
	align-items: center;
	margin-top: 40px;
	text-align: center;
	.ie & {
		display: block;
	}
	> span {
		width: 25%;
		text-align: center;
		margin-bottom: 40px;
		.ie & {
			display: inline-block;
			width: 24%;
		}
	}
}
.layers-block {
	margin-bottom: 40px;
}
.layers-svg {
	width: 787px;
	margin: 0 auto 40px;
	position: relative;
	> span {
		position: absolute;
		font-size: 12px;
		color: #8b8b8b;
		cursor: pointer;
		white-space: nowrap;
		transition: color .5s;
		&:hover, &.hover {
			color: $yellow;
		}
		&.layer-lbl {
			transition: color .5s;
			&:hover, &.hover {
				color: $yellow;
			}
			&-1 {top: 137px; right: 100%; margin-right: 25px;}
			&-2 {top: 196px; right: 100%; margin-right: 25px;}
			&-3 {top: 188px; left: 100%; margin-left: 25px;}
			&-4 {top: 297px; left: 100%; margin-left: 25px;}
			&-5 {top: 354px; left: 100%; margin-left: 25px;}
			&-6 {top: 413px; left: 100%; margin-left: 25px;}
			&-7 {top: 425px; right: 100%; margin-right: 25px;}
			&-8 {top: 482px; right: 100%; margin-right: 25px;}
		}
	}
	.jl-hov {
		position: absolute;
		height: 235px;
		width: 390px;
		display: block;
		cursor: pointer;
		&-1 {left: 100px; top: 0;}
		&-2 {left: 100px; top: 60px;}
		&-3 {left: 303px; top: 125px; height: 230px;}
	}
	svg {
		* {
			transition: fill .15s;
			&.hover, &:hover {
				* {
					fill: $yellow;
				}
			}
		}
	}
	.img-jl-opacity {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}
}
.block-microservice {
	padding: 60px 0;
	.micro-svg {
		position: relative;
		margin-bottom: 40px;
		._micro-inner-center {
			position: relative;
			float: left;
			padding-top: 15px;
			img {
				opacity: 0;
				z-index: 0;
				transition: opacity .5s;
				&.jb-img-stat {
					position: relative;
				}
				&:nth-child(1n+2) {
					position: absolute;
					left: 0;
					top: 0;
				}
				&.jb-img-1 {
					top: -1px;
				}
				&.jb-img-2 {
					top: 15px;
				}
				&.jb-img-3 {
					top: 14px;
				}
			}			
		}
		&[data-show="0"]{
			.jb-img-stat {
				opacity: 1;
				z-index: 9;
			}
		}
		&[data-show="1"]{
			.jb-img-1 {
				opacity: 1;
				z-index: 9;
			}
		}
		&[data-show="2"]{
			.jb-img-2 {
				opacity: 1;
				z-index: 9;
			}
		}
		&[data-show="3"]{
			.jb-img-3 {
				opacity: 1;
				z-index: 9;
			}
		}
	}
	.micro-labels {
		span {
			display: block;
			cursor: default;
			line-height: 1.3;
			transition: color .5s;
			&:hover, &.hover {
				color: $yellow;
			}
			&._caption {}
			&._subcaption {
				opacity: .6;
			}
		}
		.micro-1 {
			margin-top: 173px;
		}
		.micro-3 {
			margin-top: 370px;
		}
		.micro-2 {
			text-align: right;
			margin-top: 378px;
		}
	}
}
.block-list-property {
	padding-top: 80px;
	margin-bottom: 60px;
	.item-prop {
		figure {
			margin-bottom: 20px;
		}
	}
}
.block-expertize {
	padding-top: 56px;
	.expertize-content {
		padding-top: 14px;
		.exp-item {
			margin-bottom: 47px;
			figure {
				margin-bottom: 13px;
			}
			._text {
				line-height: 1.8;
			}
		}
	}
}
.block-concept {
	padding-top: 13px;
	.concept-container {
		padding-top: 23px;
		.col-cc {
			cursor: default;
			transition: color .5s;
			._ttl {
				margin-bottom: 10px;
			}
			._txt {
				font-size: 12px;
				line-height: 1.75;
			}
			&:hover, &.hover {
				color: $yellow;
			}
		}
		.cc-svg {
			margin-top: -13px;
		    margin-bottom: 8px;
		    margin-left: -6px;
		    float: left;
		    width: 100%;
		    position: relative;
		    img {
		    	opacity: 0;
		    	transition: opacity .5s;
		    	&:nth-child(n+2) {
		    		position: absolute;
		    		left: 0;
		    		top: 0;
		    	}
		    }
		    &[data-show="0"] {
		    	.ftec-0 {
		    		opacity: 1;
		    	}
		    }
		    &[data-show="1-2"], &[data-show="1"], &[data-show="2"] {
		    	.ftec-1-2 {
		    		opacity: 1;
		    	}
		    }
		    &[data-show="3"] {
		    	.ftec-3 {
		    		opacity: 1;
		    	}
		    }
		    &[data-show="4"] {
		    	.ftec-4 {
		    		opacity: 1;
		    	}
		    }
		    &[data-show="5"] {
		    	.ftec-5 {
		    		opacity: 1;
		    	}
		    }
		}
	}
}
.block-benefis {
	padding-top: 44px;
	margin-bottom: 60px;
	.benefis-list {
		padding-top: 22px;
	}
	.benefis-item {
		figure {
			position: relative;
			height: 172px;
			width: 172px;
			margin-left: auto;
			margin-right: auto;
			.proc-wrap {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				.proc-val {
					font-size: 36px;
					color: #6f6f6f;
					font-weight: 300;
				}
				.proc-lbl {
					position: absolute;
					font-size: 18px;
					color: #6f6f6f;
					top: -5px;
					right: -30px;
				}
			}
		}
	}
}
.proc-property {
	padding: 60px 0;
	.media {
		margin-bottom: 20px;
		.media-body {
			padding: 6px 0px 0px 28px;
		}
		.media-heading {
			margin-bottom: 22px;
		}
	}
}
.block-proc-steps {
	padding: 60px 0;
	.steps-svg {
		position: relative;
		
		img {
			display: block;
			opacity: 0;
			transition: opacity .5s;
			+ img {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		#bottom-work-steps {
			position: relative;
		}
		.static {
			.img-bstep {
				opacity: 1;
				z-index: 5;
			}
		}
		.bstep-1 {
			.img-bstep-1 {
				opacity: 1;
				z-index: 5;
			}
		}
		.bstep-2 {
			.img-bstep-2 {
				opacity: 1;
				z-index: 5;
			}
		}
		.bstep-3 {
			.img-bstep-3 {
				opacity: 1;
				z-index: 5;
			}
		}
		.bstep-4 {
			.img-bstep-4 {
				opacity: 1;
				z-index: 5;
			}
		}
		.bstep-5 {
			.img-bstep-5 {
				opacity: 1;
				z-index: 5;
			}
		}
	}
	.step-item {
		cursor: default;
		margin-bottom: 40px;
		transition: color .5s;
		._ttl {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 10px;
		}
		._txt {
			font-size: 12px;
			line-height: 1.75;
			font-weight: 300;
		}
		&:hover, &.hover {
			color: $yellow;
			cursor: default;
		}
	}
}
.block-steps-top {
	padding: 80px 0;
	.col-svg {
		padding: 0 15px;
		float: left;
		margin-left: 260px;
		.svg {
			position: relative;
			[class="steps-layer"], [data-layer="links"] {
				* {
					transition: stroke .5s;
				}
				[class="hover"] {
					* {
						stroke: $yellow !important;
					}
				}
			}
			.tstep-img {
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
			}
		}

	}
	
	.col-captions {
		float: left;
		padding: 0 15px;
		margin-top: 104px;
		.tstep {
			margin-bottom: 16px;
			cursor: default;
			transition: color .5s;
			&:hover, &.hover {
				color: $yellow;
			}
		}
		._ttl {
			font-size: 18px;
			line-height: 32px;
		}
		._subttl {
			font-size: 14px;
			line-height: 1;
			margin-bottom: 10px;
		}
		._txt {
			font-size: 12px;
			font-weight: 300;
		}
	}
}
/**
* Case
*/
.case-description {

}
.content-block-case {
	position: relative;
	h3 {
		color: #fff;
		background: $yellow url(../img/svg/bg-dot.svg) no-repeat 5px center;
		margin-left: 30px;
		margin-right: 30px;
		position: relative;
		padding: 10px 25px;
		font-size: 24px;
		line-height: 1.22;
		display: inline-block;
		margin-bottom: 40px;

		&:before {
			// content: "• ";
			content: "";
			// border-right: 30px solid $yellow;
			border-bottom: 49px solid $yellow;
			border-left: 30px solid transparent;
			// border-top: 48px solid transparent;
			display: block;
			position: absolute;
			left: -30px;
			top: 0;
		}
		&:after {
			// content: "• ";
			content: "";
			border-right: 30px solid transparent;
			// border-bottom: 49px solid $yellow;
			// border-left: 30px solid transparent;
			border-top: 49px solid $yellow;
			display: block;
			position: absolute;
			right: -30px;
			top: 0;
		}
	}
	p {
		margin-bottom: 1.5em;
	}
	ul {
		margin-left: 40px;
		li {
			&:before {
				color: inherit;
			}
			ul {
				margin-left: 0;
				li {
					&:before {
						content: "⁃ ";
						width: 20px;
						margin-left: -20px;
					}
				}
			}
		}
	}
	img {
		// border: 2px solid $yellow;
		max-width: 100%;
		height: auto;
		display: block;
	}
	.container-case {
		position: relative;
	}
	.case-slider {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		margin-bottom: 80px;
	}
	.slide-case {
		img {
			max-width: 100%;
			height: auto;
			border: none;
		}
	}
	.slick-arrow {
		top: 50%;
		margin-top: -30px;
		&.slick-prev {
			left: -10px;
		}
		&.slick-next {
			right: -10px;
		}
	}
	.slick-dots {
		position: absolute;
	    width: 100%;
	    left: 0;
	    bottom: -50px;
	    margin-left: 0;
		li {
			button {
				border-color: $yellow;
			}
			&.slick-active {
				button {
					background-color: $yellow;
				}
			}
		}
	}
}
.contacts-content {
	padding-bottom: 43px;
}
.contacts-text {
	padding-top: 10px;
	padding-top: 60px;
	h5, .h5 {
		margin-bottom: 25px;
	}
	p {
		line-height: 2.35;
		margin-bottom: 28px;
	}
}

    .modal.in .modal-dialog {
        transform: translate(0, -50%);
        top: 50%;
    }

.title-box {
	font-size: 42px;
	color: #5C5C5C;
	position: relative;
	.box-clients & {
		margin-bottom: 13px;
	}
	&.mid-line {
		span {
			padding: 0 52px;
			background: #fff;
			position: relative;
			z-index: 2;
			.box-clients & {
				background: #fafafa;
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			height: 1px;
			background: $yellow;
			z-index: 0;
		}
	}
}
.box-about {
	padding-top: 127px;
	padding-bottom: 153px;
	.title-box {
		span {
			padding: 0 52px 8px;
    		border-bottom: 1px solid #ff6600;
		}
	}
	.content-box {
	    font-size: 21px;
	    padding: 20px 0;
	    line-height: 33px;
	}
}
.container_expertise {
	padding-top: 54px;
	.h1 {
		margin-bottom: 20px;
	}
	.box-exp-text {
		font-size: 14px;
		padding: 0 20px 50px;;
		max-width: 610px;
		margin: 0 auto;
	}
	.box-exp-content {
		justify-content: center;
	}
	.item_exp {
		margin-bottom: 40px;
		._inner {
			figure {
				text-align: center;
				margin-bottom: 38px;
			}
			._ttl {
				font-size: 21px;
				text-align: center;
				margin-bottom: 10px;
				line-height: 1.25;
				color: #5C5C5C;
			}
			._txt {
				color: #828282;
			}
		}
	}
}
.box-clients {
	.subttl-clients {
		margin-bottom: 58px;
	}
	.item_client {
		margin-bottom: 40px;
		._inner {

		}
		._ttl {
			font-size: 21px;
			margin-bottom: 20px;
			color: #5C5C5C;
			.slash {
				color: $yellow;
				margin-right: 5px;
			}
		}
		._txt {
			line-height: 1.82;
		}
	}
}
.box-club {
	margin-bottom: 58px;
	padding-top: 50px;
}
.container_club {
	.box-club-text {
		margin-bottom: 26px;
	}
	.item_club {
		padding: 0 12px;
		._caption {
			margin-bottom: 22px;
		}
		._ttl {
			font-size: 21px;
			margin-bottom: 20px;
			color: #5C5C5C;
			.slash {
				color: $yellow;
				margin-right: 5px;
			}
			a {
				color: inherit;
				outline: none !important;
			}
		}
		figure {
			margin-bottom: 30px;
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
				height: auto;
			}
		}
		._txt {
			font-size: 12px;
			padding: 0 15px;
			margin-bottom: 7px;
		}
		._more {
			padding: 0 15px;
			font-size: 12px;
		}
	}
	.slick-dots {
		margin-top: 40px;
	}
}

.box-contacts {
	background: url(../img/bg-form-contacts.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	color: #fff;
	height: auto;
	min-height: 100vh;
	padding: 60px 0;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background: #000a8b;
    	opacity: .75;
	}
	.title-box {
		display: flex;
		color: #fff;
		align-items: center;
		span {
			padding: 0 50px;
		}
		&:after, &:before {
			content: "";
			height: 1px;
			display: block;
			flex: 2;
			background: $yellow;
		}
	}
	.subttl {
		margin: 0 -15px 63px;
	}
	.contacts_container {
		position: relative;
		z-index: 2;
	}
	._form {
		padding: 47px 35px;
		background: rgba(255,255,255,.15);
		margin: 0 -41px 48px;
		.form-group {
			margin-bottom: 20px;
		}
		._input {
			input {
				height: 40px;
				font-size: 16px;
				color: #454545;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		._textarea {
			margin-bottom: 25px;
		}
		textarea {
			height: 132px;
			resize: none;
			font-size: 16px;
			color: #454545;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.row_bottom_cnt {
		.col_bottom_cnt {
			padding: 0;
			.col-md-6 {
				padding: 0 10px;
			}
		}
	}
	.contact_bottom {
		h3 {
			font-size: 18px;
			text-transform: uppercase;
		}
	}
}
.fp-auto-height {
	/*height: auto !important;*/
}