// $yellow: #ff671b;
$yellow: #ff6600;
$yellow2: #e55a14;
$yellow3: #c85a14;
$red: #ff0000;
$blue: #000a8b;

$media_980_plus: screen and (min-width: 980px);
$media_1280_plus: screen and (min-width: 1280px);